{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="overlape">
	<div class="block no-padding">
		<div data-velocity="-.1" style="background: url({% static 'images/resource/slider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-header wform">
						<div class="job-search-sec">
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="how-works">
						<div class="how-workimg"><img src="{% static 'images/resource/slider1.jpg' %}" alt=""></div>
						<div class="how-work-detail">
							<div class="how-work-box">
								<span>1</span>
								<i class="la la-user"></i>
								<h3>Register an account</h3>
								<p>inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
							</div>
						</div>
					</div>
					<div class="how-works flip">
						<div class="how-workimg"><img src="{% static 'images/resource/slider2.jpg' %}" alt=""></div>
						<div class="how-work-detail">
							<div class="how-work-box">
								<span>2</span>
								<i class="la la-file-text"></i>
								<h3>Specify &amp; Search Your Job</h3>
								<p>You’ll receive applications via email. You can also manage jobs and candidates from your Indeed dashboard. Review applications, Schedule interviews and view recommended candidates all from one place.</p>
							</div>
						</div>
					</div>
					<div class="how-works">
						<div class="how-workimg"><img src="{% static 'images/resource/slider3.jpg' %}" alt=""></div>
						<div class="how-work-detail">
							<div class="how-work-box">
								<span>3</span>
								<i class="la la-pencil"></i>
								<h3>Apply For Job</h3>
								<p>inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}