{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
{% load static %}
<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url({% static 'images/resource/slider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header wform">
							<div class="job-search-sec">
								<div class="job-search">
									<h4>Explore Thousand Of Jobs With Just Simple Search...</h4>
									<form method="GET" action="jobs-">
										<div class="row">
											<div class="col-lg-7">
												<div class="job-field">
													<input value="{{query}}" name="keywords" type="text" placeholder="Job title, keywords or company name" />
													<i class="la la-keyboard-o"></i>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="job-field">
													<input value="{{location}}" type="text" placeholder="City, province or region" name="location" />
													<i class="la la-map-marker"></i>
												</div>
											</div>
											<div class="col-lg-1">
												<button type="submit"><i class="la la-search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<div class="col-lg-12">
				 		<span class="emlthis"><a href="mailto:example.com" title=""><i class="la la-envelope-o"></i> Email me Jobs Like These</a></span>
				 		<div class="filterbar">
				 			<h5>{{items.count}} Jobs &amp; Vacancies</h5>
				 			<div class="sortby-sec">
				 				<span>Sort by</span>
				 				<select onchange="location = this.value;" data-placeholder="Most Recent" class="chosen" style="display: none;">
									<option {% if order == "created" %} selected {% endif %} value="?keywords={{query}}&location={{location}}&page={{ num }}&order_by=created&per_page={{per_page}}">Most Recent</option>
									<option {% if order == "relevance" %} selected {% endif %} value="?keywords={{query}}&location={{location}}&page={{ num }}&order_by=relevance&per_page={{per_page}}">Relevance</option>
								</select>
								<select onchange="location = this.value;" data-placeholder="20 Per Page" class="chosen" style="display: none;">
									<option value="?keywords={{query}}&location={{location}}&page={{ num }}&order_by=created&per_page=9" {% if per_page == "9" %} selected {% endif %} >9 Per Page</option>
									<option value="?keywords={{query}}&location={{location}}&page={{ num }}&order_by=created&per_page=12" {% if per_page == "12" %} selected {% endif %} >12 Per Page</option>
									<option value="?keywords={{query}}&location={{location}}&page={{ num }}&order_by=created&per_page=15" {% if per_page == "15" %} selected {% endif %} >15 Per Page</option>
									<option value="?keywords={{query}}&location={{location}}&page={{ num }}&order_by=created&per_page=18" {% if per_page == "18" %} selected {% endif %} >18 Per Page</option>
								</select>
				 			</div>
				 		</div>
				 		<div class="job-grid-sec">
							<div class="row">
								{% for i in items %}
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid border">
										<div class="job-title-sec">
											<div class="c-logo"> {% thumbnail i.office.company.logo "235x115" corp="centre" format="PNG" as im %} <center><img src="{{ im.url }}"></center> {% endthumbnail %} </div>
											<h3><a href="/jobs/{{i.slug}}" title="">{{i.title}}</a></h3>
											<h3><a href="/company/{{i.office.company.slug}}" title="">{{i.office.title}}</a></h3>
											<span>{{i.office.company.title}}</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">{{i.office.company.city}}</span>
										<a href="/jobs/{{i.slug}}" title="">APPLY NOW</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						{% if items.count > per_page %}
						<div class="pagination">
							<ul>
							  {% if items.has_previous %}
							    <li class="prev"><a href="?keywords={{query}}&location={{location}}&page={{ items.previous_page_number }}&order_by={{order}}&per_page={{per_page}}"><i class="la la-long-arrow-left"></i> Prev</a></li>
							  {% endif %}
							  {% for num in items.paginator.page_range %}
							    {% if items.number == num %}
							    <li class="active"><a href="?keywords={{query}}&location={{location}}&page={{ num }}&order_by={{order}}">{{ num }}</a></li>
							    {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
							    <li><a href="?keywords={{query}}&location={{location}}&?page={{ num }}&order_by={{order}}&per_page={{per_page}}">{{ num }}</a></li>
							    {% endif %}
							  {% endfor %}
							  {% if items.has_next %}
							    <li class="next"><a href="?keywords={{query}}&location={{location}}&page={{ items.next_page_number }}&order_by={{order}}&per_page={{per_page}}">Next <i class="la la-long-arrow-right"></i></a></li>
							  {% endif %}
							</ul>
						</div>
						{% endif %}
				 	</div>
				 </div>
			</div>
		</div>
</section>
{% endblock %}