{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row search-form">
	<form action="{% url 'app:jobs' %}" method="get">
		<article class="small-12 medium-5 columns search-form-column">
			<div class="search-input-container">
				<input class="search-input keywords ui-autocomplete-input" data-autocomplete="keywords" id="header-keywords" name="keywords" placeholder="Job Title, Skills, or Company" type="text" value="{{query|capfirst}}" autocomplete="off"><span class="clear-field"></span>
				<label class="input-icon fa fa-search" for="header-keywords">
					<span class="small-screen-search">Search</span>
				</label>
			</div>
		</article>
		<article class="small-12 medium-5 columns search-form-column">
			<div class="search-input-container">
				<input class="search-input location" data-autocomplete="location" id="header-location" name="location" placeholder="City, State or ZIP" type="text" value="{{location}}"><span class="clear-field" style="display: none;"></span>
				<label class="input-icon fa fa-location-arrow" for="header-location">
					<span class="accessibility-hide-text">Location</span>
				</label>
			</div>
		</article>
		<article class="small-12 medium-2 columns search-form-column">
			<input class="btn search-jobs" data-gtm="header_search_form_find_jobs_btn_clicked" type="submit" value="Find Jobs">
		</article>
	</form>
</div>
{% if message %}
<span id="messagebox">
    <table id="MXMessageBoxError" cellspacing="4" cellpadding="0" align="Center" border="0" style="">
        <tbody>
            <tr>
                <td valign="top"></td>
                <td valign="top" style="text-align: center;">
                    <span style="color: rgb(221, 77, 57); font-weight: 700; font-size: 16px;">{{message}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</span>
{% endif %}
<div class="main-body" id="main-content">
	<div class="page-header">
		<div class="row">
			<div class="small-12 columns">
				<h1>Your Resumes</h1>
			</div>
		</div>
	</div>
	<div class="your-resumes">
		{% if resumes.count < 1 %}
		<div class="blank-slate bump row">
			<div class="small-12 columns">
				<h3>You haven't added a resume yet</h3>
			</div>
		<div class="small-12 columns margin-below">Recruiters or future employers could be looking for you.</div>
			<div class="small-12 medium-6 large-4 columns end">
				<a class="btn" id="post-new-resume" href="/resumes/new">Add a New Resume</a>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="small-12 columns">
				<div class="card with-padding">
					{% for i in resumes %}
					<div class="resume-container">
						<div class="row">
							<div class="small-10 columns">
								<h3><a href="/resume/{{i.slug}}">{{i.job_title}}</a></h3>
							</div>
							<div class="small-2 columns text-right">
								<a class="delete-resume font-icon" href="/resumes/{{i.slug}}">
									<i class="fa fa-times" title="Delete"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">Updated: {{i.updated}}</div>
						</div>
						{% if not resumes.last.job_title == i.job_title %}
								<hr>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="bump row">
			<div class="small-12 medium-6 large-4 columns end">
				<a class="btn secondary" id="post-new-resume" href="/resumes/new">Add a New Resume</a>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="" data-remodal-id="delete-error-modal" id="delete-error-modal">
		<button class="remodal-close" data-remodal-action="close">
			<span class="accessibility-hide-text">Close</span>
		</button>
		<div class="row">
			<div class="small-12 columns">
				<p>There was an error deleting your resume.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<button class="btn" data-remodal-action="confirm">Ok</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}