{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="overlape">
	<div class="block no-padding">
		<div data-velocity="-.1" style="background: url() repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax">
		</div>
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-header">
						<h3>My Resume</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block remove-top">
		<div class="container">
			 <div class="row no-gape">
			 	<aside class="col-lg-3 column border-right">
			 		<div class="widget">
			 			<div class="tree_widget-sec">
			 				<ul>
			 					<li>
			 						<a href="#" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
			 					</li>
			 					<li class="inner-child active">
			 						<a href="/resume" title=""><i class="la la-paper-plane"></i>Resume</a>
			 					</li>
			 					<li>
			 						<a href="#" title=""><i class="la la-flash"></i>Job Alerts</a>
			 					</li>
			 					<li> 
			 						<a href="/password_change" title=""><i class="la la-lock"></i>Change Password</a>
			 					</li>
			 					<li>
			 						<a href="/logout" title=""><i class="la la-unlink"></i>Logout</a>
			 					</li>
			 				</ul>
			 			</div>
			 		</div>
			 	</aside>
			 	<div class="col-lg-9 column">
			 		<div class="padding-left">
				 		<div class="manage-jobs-sec">
				 			<div class="border-title"><h3>Candidates Dashboard</h3><a href="#" title=""><i class="la la-plus"></i> Add Education</a></div>
					 		<div class="edu-history-sec">
					 			{% if education.count == 0 %}
			 						<p>No Education History</p>
			 					{% else %}
						 			{% for i in education %}
		 							<div class="edu-history">
		 								<i class="la la-graduation-cap"></i>
		 								<div class="edu-hisinfo">
		 									<h3>{{i.education_level}}</h3>
		 									<i>{{i.year_from}} - {{i.year_to}}</i>
		 									<span>{{i.school.name}} <i>{{i.degree}}</i></span>
		 									<p>{{i.education_description}}</p>
		 								</div>
		 								<ul class="action_job">
				 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
				 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
				 						</ul>
		 							</div>
		 							{% endfor %}
		 							 						{% endif %}
	 						</div>
	 						<div class="border-title"><h3>Work Experience</h3><a href="#" title=""><i class="la la-plus"></i> Add Experience</a></div>
					 		<div class="edu-history-sec">
					 			{% if experience.count == 0 %}
				 					<p>No Working History</p>
				 					<br>
				 				{% else %}
					 				{% for i in experience %}
			 							<div class="edu-history style2">
			 								<i></i>
			 								<div class="edu-hisinfo">
			 									<h3>{{i.job_title}} <span>{{i.company.title}}</span></h3>
			 									<i>{{i.job_from}} - {{i.job_to}}</i>
			 									<p>{{i.experience_description}}.</p>
			 								</div>
			 								<ul class="action_job">
					 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
					 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
					 						</ul>
			 							</div>
			 						{% endfor %}
			 					{% endif %}
	 						</div>
	 						<div class="border-title"><h3>Professional Skills</h3><a href="#" title=""><i class="la la-plus"></i> Add Skills</a></div>
	 						<div class="progress-sec">
	 							<div class="progress-sec with-edit">
	 								<span>Adobe Photoshop</span>
	 								<div class="progressbar"> <div class="progress" style="width: 80%;"><span>80%</span></div> </div>
	 								<ul class="action_job">
			 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
			 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
			 						</ul>
	 							</div>
	 							<div class="progress-sec with-edit">
	 								<span>Production In Html</span>
	 								<div class="progressbar"> <div class="progress" style="width: 60%;"><span>60%</span></div> </div>
	 								<ul class="action_job">
			 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
			 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
			 						</ul>
	 							</div>
	 							<div class="progress-sec with-edit">
	 								<span>Graphic Design</span>
	 								<div class="progressbar"> <div class="progress" style="width: 75%;"><span>75%</span></div> </div>
	 								<ul class="action_job">
			 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
			 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
			 						</ul>
	 							</div>
	 						</div>
	 						<div class="border-title"><h3>Awards</h3><a href="#" title=""><i class="la la-plus"></i> Add Awards</a></div>
	 						<div class="edu-history-sec">
	 							{% if awards.count == 0 %}
				 					<p>No Awards</p>
				 				{% else %}
				 					{% for i in awards %}
			 							<div class="edu-history style2">
			 								<i></i>
			 								<div class="edu-hisinfo">
			 									<h3>{{i.company}}</h3>
			 									<i>{{i.year}}</i>
			 									<p>{{i.award_description}}.</p>
			 								</div>
			 								<ul class="action_job">
					 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
					 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
					 						</ul>
			 							</div>
	 								{% endfor %}
	 							{% endif %}
	 						</div>
				 		</div>
				 	</div>
				</div>
			 </div>
		</div>
	</div>
</section>
{% endblock %}